.container {
  text-align: center;
  color: white;
  background-color: #b22222;
  height: 528px;
  border-radius: 5px;
  position: relative;

  @media (max-width: 768px) {
    height: 60vh;
  }
  .ticket {
    color: black;
  }
  .price {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    hr {
      width: 100%;
    }
  }
}
